* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  list-style: none;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #ebf4ff;
  /* #ebf4ff; */
  /* background-image: url('https://cdn.pixabay.com/photo/2016/09/01/19/13/background-1637197_1280.jpg'); */
}

.animate__fadeIn {
  animation-duration: 2s;
}

h1 {
  text-align: center;
  margin: 40px 0;
}

.contenedor {
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.form-container {
  background-color: white;
  width: 40%;
  height: auto;
  margin: 20px;
  margin-top: 0;
  padding: 20px 50px;
  align-self: center;
  text-align: left;
}

.contenedor-imagen {
  width: 100%;
  height: auto;
  text-align: center;
  /* Opcional, para centrar la imagen horizontalmente */
}

.contenedor-imagen img {
  max-width: 100%;
  margin-top: 10px;
  height: auto;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

label.alerta {
  color: red;
  font-weight: normal;
  align-self: center;
}

label.disponible {
  color: rgb(27, 184, 27);
  font-weight: normal;
  align-self: center;
}

input[type="time"],
input[type="date"],
input[type="time"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #3f51b5;
}

button,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #3f51b5;
  color: white;
  border: none;
  cursor: pointer;
}

input :disabled {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #717cb7;
  color: white;
  border: none;
  cursor: none;
}

@media screen and (max-width: 1215px) {
  .form-container {
    width: 55%;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .form-container {
    width: 55%;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 970px) {
  .form-container {
    width: 60%;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .form-container {
    width: 65%;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 585px) {
  .form-container {
    width: 80%;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .form-container {
    width: 95%;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
  }

  /* Estilos para pantallas medianas */
  @media (max-width: 768px) {
    .contenedor {
      font-size: 16px;
      width: 600px;
    }
  }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 480px) {
    .contenedor {
      font-size: 14px;
      width: 400px;
    }
  }
}
