/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  list-style: none;
}

html {
  font-size: 16px;
}

.img_logo_gms {
  height: 40px;
}

img.sliderimg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 400px;
}

/* Información general */
.informacion {
  padding: 2em;
}

.informacion h2 {
  font-size: 2em;
  color: #3f51b5;
  margin-top: 0;
}

.informacion p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Misión y Visión */
.mision-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 3em;
}

.mision,
.vision {
  flex-basis: 45%;
  margin-bottom: 2em;
}

.mision h2,
.vision h2 {
  color: #3f51b5;
  font-size: 2em;
}

.mision p,
.vision p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Media Queries */
@media (min-width: 870px) {
  /* Banner */
  .banner {
    padding: 5em;
  }

  .banner h1 {
    font-size: 5em;
    margin-bottom: 0.5em;
  }

  /* Información general */
  .informacion {
    max-width: 800px;
    margin: 0 auto;
  }

  /* Misión y Visión */
  .mision,
  .vision {
    margin-bottom: 0;
  }
}

/* Footer */

.footer p {
  margin: 0;
  font-size: 1.2em;
}

footer {
  background-color: #3f51b5;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  flex-shrink: 0;
}
