body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #ebf4ff;
}

.animate__fadeIn {
  animation-duration: 2s;
}

h1 {
  text-align: center;
  margin: 20px 50px;
}
.tr-head {
  background: #3f51b5;
}

/* table {
  border-collapse: collapse;
  border-color: #3f51b5;
  border: #3f51b5;
  margin-top: 1em;
  margin: 0 auto;
}

th {
  text-align: center;
  padding: 0.5em;
}
td {
  border: 1px solid #3f51b5;
  padding: 0.5em;
  text-align: justify;
}

th {
  background-color: #3f51b5;
  color: white;
  text-align: center;
} */

form {
  justify-content: center;
  text-align: center;
  margin-top: 1em;
}
